@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body {
    background-color: #F3F4F6;
    color: #1F2937;
    font-family: ui-sans-serif, system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
  }
}
